In [3]:
import pandas as pd
import openpyxl as excel
import docx as docu

In [8]:
def readexcel(path, sheetname, range_str):
    """ Reads data from an Excel sheet within a specified range and calculates sums. """
    wb = excel.load_workbook(path)  # Load the workbook
    sheet = wb[sheetname]  # Access the sheet by name

    # Extract data from the specified range
    data = []
    for row in sheet.iter_rows(min_row=int(range_str.split(':')[0][1:]),
                             max_row=int(range_str.split(':')[1][1:]),
                             min_col=ord(range_str.split(':')[0][0]) - 64,
                             max_col=ord(range_str.split(':')[1][0]) - 64):
        row_data = []
        for cell in row:
            if cell.value is None:
                row_data.append(None)
            else:
                row_data.append(cell.internal_value)
        data.append(row_data)

    df = pd.DataFrame(data)


    return df

In [9]:
readexcel('Test.xlsx', 'Sheet1', 'A1:E5')

                     0            1            2            3        4
0                 Date      Moneyin     Moneyout        Hello  Goodbye
1  2024-02-01 00:00:00           30           32            2        8
2  2023-04-03 00:00:00           80           32            3       29
3  2022-04-06 00:00:00           32           28            8      230
4                Total  =SUM(B2:B4)  =SUM(C2:C4)  =SUM(D2:D4)      883

In [21]:
wb = excel.load_workbook('Test.xlsx', data_only=True)  # Load the workbook
sheet = wb['Sheet1']

In [23]:
for row in sheet.iter_rows():
    for cell in row:
        print(cell.value)

Date
Moneyin
Moneyout
Hello
Goodbye
Kind
2024-02-01 00:00:00
30
32
2
8
38
2023-04-03 00:00:00
80
32
3
29
82
2022-04-06 00:00:00
32
28
8
230
32
Total
142
92
13
883
152